*{
    margin: 0;
    padding: 0;
}

html{
    background: linear-gradient(to right top, #777777, #7e8992, #799ea3, #85b29e, #b1c08f) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    max-width: 1452px;
}

nav{
    height: 90px;
    background-color: white;
}

a{
    color: #777777;
    text-decoration: none;
}

ul{
    height: 100%;
    padding: 0;
}

li{
    list-style-type: none;
    float: left;
    padding: 35px;
    line-height: 20px;
}

li.nav-right:hover{
    background-color: rgba(230, 230, 230, 0.61);
    border-radius: 45%;
}

.nav-main{
    background-color: #4aaaa5;
    height: 20px;
    color: white;
    padding: 35px;
    font-size: 1.5em;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.nav-right{
    float: right;
}

.content{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    overflow: auto;
}

.img{
    width: 200px;
    height: 266px;
    background-color: antiquewhite;
    border: 2px solid teal;
    float:left;
    margin: 30px;
}

#portrait{
    width:100%;
}


.main-hr{
    clear: both;
    margin: auto;
     width: 98%; 
}

section{
    margin-top:40px;
    margin-bottom: 100px;
    padding-bottom: .5em;
}

h1{
    padding: 10px 0 10px 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

p{
    line-height: 2em;
    margin: 15px 30px;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}

#foot1{
    background-color: #4aaaa5;
    min-height: 10px;
}

#foot2{
    background-color: #666666;
    color: white;
    text-align: center;
    padding-top: 39px;
    height: 100%;
}
